#circle {
    display: block;
    position: absolute;
    border-radius: 13.2%;
    width: 300px;
    height: auto;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    /* Колір тексту на синьому фоні */
    transition: color 0.3s ease;
    /* Плавна зміна кольору тексту */
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Відстань до лінії від тексту */
    left: 0;
    right: 0;
    height: 13px;
    background: linear-gradient(to top, #ffffff, #008cff);
    /* Градієнт від білого до синього */
    border-radius: 50px;
    transform: scaleX(0);
    /* Спочатку лінія прихована */
    transition: transform 0.3s ease;
    /* Анімація розширення лінії */
}


nav ul li a.active::after {
    animation: slideIn 0.5s ease forwards;
    /* Анімація для активного пункту */
}

@keyframes slideIn {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@import url('https://fonts.googleapis.com/css?family=Muli:700');

/* Основные стили */
.toggle,
.language-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    width: 150px;
    justify-content: space-between;
}

.language-toggle {
    top: 60px;
}

.toggle span,
.language-toggle span {
    margin: 0 5px;
}

#toggle-switch,
#language-switch {
    display: none;
}

label {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}

label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

#toggle-switch:checked+label,
#language-switch:checked+label {
    background-color: #66bb6a;
}

#toggle-switch:checked+label::after,
#language-switch:checked+label::after {
    transform: translateX(25px);
}

/* Стили для продукта */
.product {
    background-color: var(--product-background-light);
    color: var(--text-color-light);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

body.theme-dark .product {
    background-color: var(--product-background-dark);
    color: var(--text-color-dark);
}

/* Адаптивные стили */
@media (max-width: 768px) {

    .toggle,
    .language-toggle {
        width: 100px;
        font-size: 1.2em;
    }

    .product {
        padding: 10px;
    }

    .toggle {
        top: 5px;
        right: 5px;
    }

    .language-toggle {
        top: 45px;
        right: 5px;
    }
}


:root{
    --background-color-light: #ffffff;
    --background-color-dark: #333333;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
}

.blue{
    color: #007bff;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

body.theme-dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.product {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

body.theme-dark .product {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/*  */

#telegram {
    width: 40px;
    height: 40px;
}

/* Загальний стиль для контейнера */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Центрує товари */
    gap: 10px;
    /* Зменшує відстань між товарами */
    margin: 20px 0;
    padding: 0 20px;
    /* Додає відступи з боків */
}


/* Стиль для кожного товару */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Вирівнює зображення та текст по центру */
    width: 250px;
    /* Ширина кожного товару */
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
    /* Ефект збільшення при наведенні */
}

/* Стиль для зображень товарів */
.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Стиль для заголовків товарів */
.product h3 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

/* Стиль для опису товарів */
.product p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

/* Стиль для кнопки */
.product button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #0056b3;
    /* Темніший відтінок при наведенні */
}

.container-soft {
    display: contents;
    justify-content: space-around;
    align-items: start;
    padding: 20px;
}

.product {
    text-align: center;
}

.slider-image {
    width: 150px;
    height: auto;
}

#software-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#software-button:hover {
    background-color: #0056b3;
}

body-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-soft {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    max-width: 1200px;
}

.container-soft2 {
    background-color: #ffffff;
    border: 1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-soft2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #008cff;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.product {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #cecece;
}

.product img {
    max-width: 100%;
}

.product h3 {
    margin: 0 0 10px;
}

.product p {
    margin: 0 0 10px;
}

.product button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product button:hover {
    background: #555;
}

.Logo img {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100px;
    height: auto;
}

.havent {
    color: #008cff;
}

footer {
    background-color: #161616;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

/*  */

.arrow-container {
    text-align: center;
    margin: 20px 0;
}

.arrow {
    font-size: 2em;
    cursor: pointer;
}